<div class="row">
  <div class="col-md-5 offset-md-4">
    <div class="card card-body">
      <img src="/img/404.png" class="d-block m-4" alt="Mantenimiento">
      <h2>Ups... No hay nada aquí</h2>
      <p>Esta página no existe</p>
      <form action="/" class="form-inline my-2 my-lg-0 mr-4">
        <button class="btn btn-primary my-2 my-sm-0">Regresar al inicio</button>
      </form>
    </div>
  </div>
</div>