<div class="row">
  <div class="col-md-5 offset-md-4">
    <div class="card card-body">
      <h1>No hay nada aquí</h1>
      <p>Esta página no existe</p>
      <a href="/">Regresar a inicio</a>
    </div>
  </div>
</div>