<div class="row">
  <div class="col-md-5 offset-md-4">
    <div class="card card-body">
      <h1>No hay nada aquí</h1>
      <p>Esta página no existe</p>
      <form action="/" class="form-inline my-2 my-lg-0 mr-4">
        <button class="btn btn-primary my-2 my-sm-0">Regresar a inicio</button>
      </form>
    </div>
  </div>
</div>