<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae minima deserunt blanditiis, praesentium iure ducimus cumque veniam officia velit vel nisi voluptatem, impedit vero a illum aperiam nostrum cupiditate dolores.
        </p>
    </div>
</div>