<div class="card">
    <div class="card-body">
        <h1>Nosotros</h1>
        <p>
            Highsoft team está integrado por cuatro Ingenieros de software en proceso, que cursan la licenciatura en la Universidad Autónoma de Occidente, en el grupo E-105. 
            Esta página es un proyecto final de programación web impartida por el profesor José Alfredo Rodríguez Pacheco.
        </p>
    </div>
</div>