<div class="card">
    <div class="card-body">
        <h1>Nosotros</h1>
        <p>
            HIGHSOFT Team esta conformado por cuatro integrantes, todos estudiantes de la Universidad Universidad Autónoma de Occidente en Ingenieria de Software grupo E-105.
        </p>
    </div>
</div>