<div class="card">
    <div class="card-header">
        <h3>Nosotros</h3>
    </div>
    <div class="mb-4 mt-4" style="width:100%; text-align:center">
        <img src="/img/uadeologo.png" alt="UAdeO Logo" class="responsive">
    </div>
    <div class="card-body">
        <div class="mb-4" style="text-align:center">
            <h5>Ingenieria de Software</h5>
            <h6>Grupo E-105</h6>
        </div>
        <p>
            HIGHSOFT team está integrado por cinco Ingenieros de software en proceso, que cursan la licenciatura en la
            Universidad Autónoma de Occidente, en el grupo E-105.
            Esta página es un proyecto final de programación web impartida por el profesor José Alfredo Rodríguez
            Pacheco.
        </p>

        <h5>
            Integrantes
        </h5>
        <div class="container">
            <div class="row">
                <div class="col child">
                    <h6 class="ml-3 mt-4 mr-4">MATRICULA</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item text-light bg-dark">19040758</li>
                        <li class="list-group-item text-light bg-dark">19040164</li>
                        <li class="list-group-item text-light bg-dark">19041034</li>
                        <li class="list-group-item text-light bg-dark">19041041</li>
                        <li class="list-group-item text-light bg-dark">19041564</li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="ml-3 mt-4">NOMBRE</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item">Luis Manuel Bravo Cázares</li>
                        <li class="list-group-item">Amor Alejandra Meza León</li>
                        <li class="list-group-item">Felizardo Medina González</li>
                        <li class="list-group-item">José Francisco Rodríguez Hernández</li>
                        <li class="list-group-item">Nubia Melissa López Chacón</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        19 de Mayo del 2021
    </div>
</div>