<div class="jumbotron mt-4">
    <h1 class="display-4">Notas</h1>
    <p class="lead"> Plataforma de notas online </p>
    <hr class="my-4">
    <p>Página creada para crear y compartir notas enfocadas en un área estudiantil, facilitar la comunicación entre profesores y alumnos!</p>
    <a href="/twitter" class="btn btn-primary btn-lg">Twitter</a>
</div>