<div class="jumbotron mt-4">
    <h1 class="display-4">Comandas App Online</h1>
    <p class="lead"> yes Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quam error assumenda cumque impedit est amet, molestiae quisquam inventore sint dolore sed natus enim harum ratione iusto suscipit asperiores pariatur!</p>
    <a href="https://twitter.com/LuisBravoZ" class="btn btn-primary btn-lg">Twitter</a>
</div>