body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header{
    margin-bottom: 100px;
}

.logo {
    width: 30%;
}

ul.dropdown-menu {
    background-color: #ffffff;
}
ul.dropdown-menu:hover {
    background-color: #ffffff;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #ffffff;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ffffff;
}