<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <img src="/img/favicon.png" class="mr-4" alt="Logo" width="50">
            <a class="navbar-brand" href="/notes">Notas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Nosotros</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                    <form action="/notes/add" class="form-inline my-2 my-lg-0 mr-4">
                        <button class="btn btn-primary my-2 my-sm-0">Crear nueva nota</button>
                    </form>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/users/profile/{{userid}}">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Ver todas</a>
                            <a class="dropdown-item" href="/notes">Mis notas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                        </div>
                    </li>
                    {{else}}
                    <form action="/users/signin" class="form-inline my-2 my-lg-0 mr-4">
                        <button class="btn btn-primary my-2 my-sm-0">Iniciar sesión</button>
                    </form>

                    <form action="/users/signup" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-success my-2 my-sm-0">Registrarse</button>
                    </form>
                    {{/if}}
                </ul>
            </div>
    </nav>
    </div>
</header>